@model DTOs.Concrete.YaziDtoS.YazıUpdateDto
@inject Entities.Concrete.Tag tagim
<h4>YaziCreateDto</h4>
<hr />
<link href="~/custom/css/wrapperImagePreview/wrappeImagepreview.css" rel="stylesheet" />
<link href="~/custom/css/tiny/tiny.css" rel="stylesheet" />
<link href="~/custom/css/wrapperofTinymce/wrapperofTinymce.css" rel="stylesheet" />
<div class="wrapperofTinymce row">
    <div class="col-md-12 text-center">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span>Orjinal Resim Aşağıdaki Gibidir. Değiştirmek isterseniz lütfen dosya seçin.</span>
                <img src=" data:image;base64,@System.Convert.ToBase64String(Model.GorunurResmi)" alt="Alternate Text" />
            </div>
            <div class="form-group">
                <label asp-for="GorunurResmi" class="control-label"></label>
                <input type="file" accept="image/*" asp-for="GorunurResmi" class="form-control" />
                <span asp-validation-for="GorunurResmi" class="text-danger"></span>
                <div class="wrapper">
                    <div class="preview">
                        <p>No files currently selected for upload</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Baslik" class="control-label"></label>
                <input type="text" asp-for="Baslik" class="form-control" />
                <span asp-validation-for="Baslik" class="text-danger"></span>
            </div>
            <div style="width:750px;" class="form-group text-center">
                <label asp-for="Body" class="control-label"></label>
                @*<input asp-for="Resim" id="Resim" type="file" name="Resim" style="display: none;" onchange="" />*@
                <textarea asp-for="Body" id="myTextarea"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagId" class="control-label"></label>
                <select multiple id="selectlist-tag" size="3" class="form-control" asp-for="TagId" asp-items="Model.Tags.Select(a =>  new SelectListItem {
                        Value = a.Id.ToString(),
                        Text =  a.TagName
                    })">
                </select>
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="Tags" class="control-label"></label>
                    <select size="2" id="selectlist-tag" size="3" class="form-control" multiple asp-for="Tags">
                        @foreach (var item in Model.Tags)
                        {
                            <option name="TagId"
                                    value="


                                        @{Tag İST =  new Tag()
                                                {
                                                    TagName = item.TagName,
                                                    Id = item.Id
                                                }
                                          };
                                        @İST.ToString();
                                    "
                                    @(İST)
                               >
                   @item.TagName</option>
                        }
                    </select>

                    <span asp-validation-for="Tags" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="KategoriId" class="control-label"></label>
                <select multiple id="selectlist-kategori" size="3" class="form-control" asp-for="KategoriId" asp-items="Model.Kategoris.Select(a =>  new SelectListItem {
                        Value = a.Id.ToString(),
                        Text =  a.KategoriIsmi
                    })"></select>
                <span asp-validation-for="Kategoris" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="Kategoris" class="control-label"></label>
                    <select size="2" id="selectlist-tag" size="3" class="form-control" multiple asp-for="Kategoris">
                        @foreach (var item in Model.Kategoris)
                        {
                            <option name="KategoriId" value="@item.Id">@item.KategoriIsmi</option>
                        }
                    </select>

                    <span asp-validation-for="Tags" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*<script src="~/custom/js/select/JavaScript.js"></script>*@
<script src="~/custom/js/imagepreview/imagepreview.js"></script>
<script src="https://cdn.tiny.cloud/1/0lds4okpny6agrn5rzy80hymus1vdx79uz2n02fspgw4720e/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="~/custom/js/tinymce/tiny.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
