dl {
    width: 100%;
    overflow: hidden;
    background: #ff0;
    padding: 0;
    border:1px solid red;
    margin: 0
}

dt {
    float: left;
    width: 50%;
    /* adjust the width; make sure the total of both is 100% */
    border: 1px solid blue;
    background: #cc0;
    padding: 0;
    margin: 0
}

dd {
    float: left;
    border: 1px solid orange;
    width: 50%;
    /* adjust the width; make sure the total of both is 100% */
    background: #dd0 padding: 0;
    margin: 0
}
