@inject SignInManager<AppUser> signinmanager;
<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Layout</title>
    <meta charset="UTF-8">
    <link href="~/css/CustomGlobal.css" rel="stylesheet" />
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <a  style="background-color:sandybrown; display:inline;" asp-controller="Home" asp-action="AnaSayfa">AnaSayfa</a>
        <a  asp-action="Index" asp-controller="Yazi">Yazis</a>

        @if (!signinmanager.IsSignedIn(User))
        {
            <div style="background-color:sandybrown; display:inline;"><a asp-action="Index">GirisYap</a></div>
        }
        @if (!signinmanager.IsSignedIn(User))
        {
            <a asp-controller="Home" asp-action="KayitOl">KayitOl</a>
        }

        @if (signinmanager.IsSignedIn(User) && (User.IsInRole(RoleNames.Member.ToString()) || User.IsInRole(RoleNames.Writer.ToString()) || User.IsInRole(RoleNames.Validator.ToString()) || User.IsInRole(RoleNames.Moderator.ToString()) || User.IsInRole(RoleNames.Admin.ToString())))
        {
            <div style="background-color:sandybrown; display:inline;"><a asp-action="Index" asp-controller="Member">Yaziları Oku</a></div>
        }
        @if (signinmanager.IsSignedIn(User) && (User.IsInRole(RoleNames.Writer.ToString()) || User.IsInRole(RoleNames.Validator.ToString()) || User.IsInRole(RoleNames.Moderator.ToString()) || User.IsInRole(RoleNames.Admin.ToString())))
        {
            <a asp-action="Index" asp-controller="Writer">Yaz</a>
        }
        @if (signinmanager.IsSignedIn(User) && (User.IsInRole(RoleNames.Validator.ToString()) || User.IsInRole(RoleNames.Moderator.ToString()) || User.IsInRole(RoleNames.Admin.ToString())))
        {
            <div style="background-color:sandybrown; display:inline;"><a asp-action="Index" asp-controller="Validator">Yazi Onay</a></div>
        }
        @if (signinmanager.IsSignedIn(User) && (User.IsInRole(RoleNames.Moderator.ToString()) || User.IsInRole(RoleNames.Admin.ToString())))
        {
            <a asp-action="Index" asp-controller="Moderator">Moeratörlük</a>
        }
        @if (signinmanager.IsSignedIn(User) && User.IsInRole(RoleNames.Admin.ToString()))
        {
            <div style="background-color:sandybrown; display:inline;"><a asp-action="Index" asp-controller="Admin">Admin</a></div>
        }
        @if (signinmanager.IsSignedIn(User))
        {
            <a asp-controller="Home" asp-action="LogOut">LogOut</a>
        }
    </div>
    <div class="row ">
        <div class="col-12 text-center">
            @RenderBody()
        </div>
    </div>
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>